<section class="container">
<h1>Task List Application</h1>

<mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Select Date" 
    [formControl]="date"
    (dateInput)="addEvent('input', $event)" 
    (dateChange)="addEvent('change', $event)"
    >
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>
<ng-template [ngIf]="taskList">
    <mat-list  >
        <mat-list-item *ngFor='let task of taskList.tasks ; let i = index'> 
            {{task.name}} 
            <mat-icon (click)=removeTask(i)>remove_circle_outline</mat-icon>
        </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="New Task Name" [formControl]="newTaskName">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addTask()">Add Task</button>
</ng-template>
<ng-template [ngIf]="! taskList"> 
    <mat-spinner></mat-spinner>
</ng-template>
</section>